<%- include('./admin-sidebar') -%>

<div class="container" style="margin-left: 250px; max-width: 25%; font-size: 3rem;">
    <h1><%= formTitle %></h1>
    <form action="<%= postLink %>" method="post" style="font-size: 2rem;">
      <div class="form-group">
        <label for="id">ID</label>
        <input class="form-control" id="id" placeholder="Enter ID" name="id" 
        value="<%= (typeof list !== 'undefined') ? list.ID : '' %>" required>
      </div>

      <div class="form-group">
        <label for="id">Slots</label>
        <input class="form-control" id="id" placeholder="Slots per Day" name="slots" 
        value="<%= (typeof list !== 'undefined') ? list.BEDS : '' %>" required>
      </div>

      <% if(typeof list === 'undefined') { %>
        <div class="form-group">
          <label for="doctors">Select Doctor</label>
          <select name="doc_id">
            <% for(var i = 0; i < doctors.length; i++) { %>
              <option value="<%= doctors[i].ID %>">
                <%= doctors[i].DOCTOR_NAME %> - <%= doctors[i].DEPT_NAME %>
              </option>
            <% } %>
          </select>
        </div>
      <% } %>

      <% if(typeof list !== 'undefined') { %>
        <div class="form-group">
          <label for="id">Current Department</label>
          <input class="form-control" id="id" name="DEPT_NAME" 
          value="<%= list.DEPT_NAME %>" readonly>
          <input name="DEPARTMENT_ID" value="<%= list.DEPT_ID %>" hidden>
        </div>
      <% } %>

      <div class="form-group">
        <label for="appt">Select start date </label>
        <input type="date" id="appt" name="start_date">
      </div>

      <div class="form-group">
        <label for="appt">Select end date </label>
        <input type="date" id="appt" name="end_date">
      </div>

      <div class="form-group">
        <label for="appt">Select start time </label>
        <input type="time" id="appt" name="start_time">
      </div>

      <div class="form-group">
        <label for="appt">Select end time </label>
        <input type="time" id="appt" name="end_time">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="js/jquery.js"></script>        
      <script src="js/bootstrap.js"></script>
  
      <script>
          /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
          var dropdown = document.getElementsByClassName("dropdown-btn");
          var i;
          
          for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
            });
          }
      </script>
</div>
  

<%- include('./footer'); -%>