<%- include('./admin-sidebar') -%>

    <div class="container" style="margin-left: 250px; max-width: 75%;">
      <h1> <%= tableTitle %> </h1>
    
      <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <%  columns.forEach(function(column) { %>
                <th scope="col"> <%= column %> </th>
              <% }) %>
            </tr>
          </thead>
          <tbody>

            <%  list.forEach(function(row) { %>
              <tr>
                <% columns.forEach(function(column) { %>

                  <% if(type === 'ward' && column === 'WARD_NO') { %>
                    <td scope="col"> 
                      <a href="/admin/ward/id/<%= row['DEPT_ID'] %>/<%= row['WARD_NO'] %>"> <%= row['WARD_NO'] %> </a>
                    </td>
                  <% } else if(type === 'room' && column === 'ROOM_ID') { %>
                    <td scope="col"> 
                      <a href="/admin/room/id/<%= row['ROOM_ID'] %>"> <%= row['ROOM_ID'] %> </a>
                    </td>
                  <% } else if(type === 'bed' && column === 'BED_NO') { %>
                    <td scope="col"> 
                      <a href="/admin/bed/id/<%= row['ROOM_ID'] %>/<%= row['BED_NO'] %>"> <%= row['BED_NO'] %> </a>
                    </td>
                  <% } else if((type === 'dept' || type === 'schedule' || 
                        type === 'appointment' || type === 'record' || type === 'patient') && column === 'ID') { %>
                    <td scope="col"> 
                      <a href="/admin/<%= type %>/id/<%= row['ID'] %>"> <%= row['ID'] %> </a>
                    </td>
                  <% } else { %>
                    <td scope="col"> 
                      <%= row[column] %> 
                    </td>
                  <% } %>

                <% }) %>              
              </tr> 
            <% }) %>


          </tbody>
      </table>

      <% if(type !== 'appointment') { %>
        <a role="button" href="/admin/<%= type %>/add" class="btn btn-primary btn-lg" 
          style="font-size: 1.75rem; margin: 2.5% 2.5% 0 0;"> Add </a>
      <% } %>
     
      <script src="js/jquery.js"></script>        
      <script src="js/bootstrap.js"></script>

      <script>
          /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
          var dropdown = document.getElementsByClassName("dropdown-btn");
          var i;
          
          for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
            });
          }
      </script>
    </div>
<!-- </body>


</html> -->

<%- include('./footer'); -%>